{% extends 'base.html' %}
{% load static %}

{% block content %}

		<!-- Main -->
			<div id="main">

				<!-- Intro -->
					<section id="top" class="one dark cover">
						<div class="container">

							<header>
								<h2 class="alt">Hi! I'm Chien-Chou Wu<br /></h2>
								<p><a href="https://cs.slu.edu/">Computer Science in Artificial Intelligence</a> student in <a href="https://www.slu.edu/">SLU</a>.<br />
								
							</header>

							<footer>
								<a href="#portfolio" class="button scrolly">Scroll down</a>
							</footer>

						</div>
					</section>

				<!-- Portfolio -->
					<section id="portfolio" class="two">
						<div class="container">

							<header>
								<h2>Portfolio</h2>
							</header>

							<p>These are my portfolio.</p>

							<div class="row">
								<div class="col-4 col-12-mobile">
									<article class="item">
										<a href="studentgradepredicts" class="image fit"><img src="{% static 'page/images/home-right.png' %}" alt="" /></a>
										<header>
											<h3>Prediction of students' grade</h3>
										</header>
									</article>
									<article class="item">
										<a href="#" class="image fit"><img src="{% static 'page/images/pic03.jpg' %}" alt="" /></a>
										<header>
											<h3>Rhoncus Semper</h3>
										</header>
									</article>
								</div>
								<div class="col-4 col-12-mobile">
									<article class="item">
										<a href="#" class="image fit"><img src="{% static 'page/images/pic04.jpg' %}" alt="" /></a>
										<header>
											<h3>Magna Nullam</h3>
										</header>
									</article>
									<article class="item">
										<a href="#" class="image fit"><img src="{% static 'page/images/pic05.jpg' %}" alt="" /></a>
										<header>
											<h3>Natoque Vitae</h3>
										</header>
									</article>
								</div>
								<div class="col-4 col-12-mobile">
									<article class="item">
										<a href="#" class="image fit"><img src="{% static 'page/images/pic06.jpg' %}" alt="" /></a>
										<header>
											<h3>Dolor Penatibus</h3>
										</header>
									</article>
									<article class="item">
										<a href="#" class="image fit"><img src="{% static 'page/images/pic07.jpg' %}" alt="" /></a>
										<header>
											<h3>Orci Convallis</h3>
										</header>
									</article>
								</div>
							</div>

						</div>
					</section>

				<!-- About Me -->
					<section id="about" class="three">
						<div class="container">

							<header>
								<h2>About Me</h2>
							</header>

							<a href="#" class="image featured"><img src="{% static 'page/images/aboutme.jpg' %}" alt="" /></a>

							<p>This is me.</p>

						</div>
					</section>

				<!-- Contact -->
					<section id="contact" class="four">
						<div class="container">

							<header>
								<h2>Contact</h2>
							</header>

							<p>Please contact me if you are interested about me.</p>

							<form method="post" action="#">
								<div class="row">
									<div class="col-6 col-12-mobile"><input type="text" name="name" placeholder="Name" /></div>
									<div class="col-6 col-12-mobile"><input type="text" name="email" placeholder="Email" /></div>
									<div class="col-12">
										<textarea name="message" placeholder="Message"></textarea>
									</div>
									<div class="col-12">
										<input type="submit" value="Send Message" />
									</div>
								</div>
							</form>

						</div>
					</section>

			</div>

		<!-- Footer -->
			<div id="footer">

				<!-- Copyright -->
					<ul class="copyright">
						<li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>

			</div>

{% endblock %}